body {
  line-height: 1.15;
  font-family: 'Press Start 2P', monospace;
  color: #fff;
  background: #000;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

label {
  margin: 0;
  user-select: none;
}

.nes-btn {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
}

.nes-btn.is-symbol {
  padding: 2px 3px;
}